@import url('https://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css');

body {
  text-align: center;
  font-family: courier;
  background: #e6e6e6;
  background: #083952;
}

.flex{
  display: flex;
}
.info{
  width: 20em;
  border-radius: 10px;
  padding: 10px;
  border-top: 1px #fff solid;
  border-bottom: 1px #d5d5d5 solid;
  position: fixed;
  bottom: 10px;
  left: 10px;
}

.info .title{
  color: #000;
  margin-left: 10px;
  padding-top: 12px;
}
.app-icon{
  width: 60px;
  height: 60px;
  border-radius: 14px;
}
.widget{
  display: flex;
  overflow: hidden;
  width: 30em;
  margin: 30px auto;
  -webkit-box-shadow: 0px 0px 58px 0px rgba(0,0,0,0.35);
-moz-box-shadow: 0px 0px 58px 0px rgba(0,0,0,0.35);
box-shadow: 0px 0px 58px 0px rgba(0,0,0,0.35);

}

.toolbar{
  margin: 0px;
  height: 38px;
  padding: 10px;
  border-top: 1px #d5d5d5 solid;
}
.toolbar button{
  background: transparent;
  border: none;
  font-size: 15px;
  color: #009cff;
  cursor: pointer;
  padding: 10px;
}
.toolbar button:focus{
  outline: none;
}
.user-list{
  max-width: 10em;
background: rgb(251, 251, 251);
background: -moz-linear-gradient(0deg, rgb(251, 251, 251) 85%, rgb(244, 244, 244) 100%);
background: -webkit-linear-gradient(0deg, rgb(251, 251, 251) 85%, rgb(244, 244, 244) 100%);
background: -o-linear-gradient(0deg, rgb(251, 251, 251) 85%, rgb(244, 244, 244) 100%);
background: -ms-linear-gradient(0deg, rgb(251, 251, 251) 85%, rgb(244, 244, 244) 100%);
background: linear-gradient(90deg, rgb(251, 251, 251) 85%, rgb(244, 244, 244) 100%);
  border: 1px #d5d5d5 solid;
  margin-right: 0px;
  border-right: 0px;
  -webkit-box-shadow: inset 0px -7px 26px 0px rgba(50, 50, 50, 0.05);
    -moz-box-shadow:    inset 0px -7px 26px 0px rgba(50, 50, 50, 0.05);
    box-shadow:         inset 0px -7px 26px 0px rgba(50, 50, 50, 0.05);
}
.user-list ul{
    max-height: 267px;
    min-height: 267px;
    overflow: scroll;
    padding: 0px;
    list-style: none;
    margin: 0px;
    border-top: 1px #efefef solid;
}

.user-list .user-h{
  padding: 2px 15px;
  font-size: 18px;
  margin: 0px;
}
.user-list ul li{
  transition: 0.5s all;
  padding: 8px 15px;;
  border-bottom: 1px #efefef solid;
  cursor: pointer;
}
.user-list ul li:hover{
  background: #f5f5f5;
}

.user-list ul li p{
  margin: 2px 4px;
}
.user-list, .chat{
  display: inline-block;
}
.user-list{
  width: 100%;
  order: 1;
}
.chat{
  width: 100%;
  order: 2;
  background: #fbfbfb;
}
.header{
  border-left: 1px #d5d5d5 solid;
  background: #318cde; /* Old browsers */
  background: -moz-linear-gradient(top, #318cde 0%, #3184d6 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#318cde), color-stop(100%,#3184d6)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #318cde 0%,#3184d6 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #318cde 0%,#3184d6 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #318cde 0%,#3184d6 100%); /* IE10+ */
  background: linear-gradient(to bottom, #318cde 0%,#3184d6 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#318cde', endColorstr='#3184d6',GradientType=0 ); /* IE6-9 */
  padding: 10px;
}
.header p{
  display: inline-block;
}
svg{
  float: right;
  margin-top: 15px;
  margin-right: 10px;
  cursor: pointer;
}

.footer{
    border: 1px #d5d5d5 solid;
    border-top: 0px #d5d5d5 solid;
    padding: 10px;
    background: #fbfbfb; /* Old browsers */
    background: -moz-linear-gradient(top, #fbfbfb 0%, #f2f2f2 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fbfbfb), color-stop(100%,#f2f2f2)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #fbfbfb 0%,#f2f2f2 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #fbfbfb 0%,#f2f2f2 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #fbfbfb 0%,#f2f2f2 100%); /* IE10+ */
    background: linear-gradient(to bottom, #fbfbfb 0%,#f2f2f2 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fbfbfb', endColorstr='#f2f2f2',GradientType=0 ); /* IE6-9 */
}
.grad{
      background: #fbfbfb; /* Old browsers */
    background: -moz-linear-gradient(top, #fbfbfb 0%, #f2f2f2 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fbfbfb), color-stop(100%,#f2f2f2)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #fbfbfb 0%,#f2f2f2 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #fbfbfb 0%,#f2f2f2 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #fbfbfb 0%,#f2f2f2 100%); /* IE10+ */
    background: linear-gradient(to bottom, #fbfbfb 0%,#f2f2f2 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fbfbfb', endColorstr='#f2f2f2',GradientType=0 ); /* IE6-9 */
}
.input-group{
  background: #transparent;
  border: 0px;
  width: 100%;
  border-radius: 6px;
  -webkit-box-shadow: inset 0px 0px 5px 0px rgba(50, 50, 50, 0.25);
  -moz-box-shadow:    inset 0px 0px 5px 0px rgba(50, 50, 50, 0.25);
  box-shadow:         inset 0px 0px 5px 0px rgba(50, 50, 50, 0.25);
}
.input-group input[type="button"]{
  width: 10px;
  text-align: center;
  background: transparent;
  border: none;

}



    h1 {
    	font-family: helvetica;
    	font-weight: normal;
    	text-align: center;
    	color: #c0c0c0;
    	padding-top: 50px;
    	padding-bottom: 10px;
    	width: 375px;
    	margin: 0 auto;
    	border-bottom: 3px solid #f3f3f3;
    }

    .containers {
    	width: 520px;
    	margin: 20px auto;
    }

    .menu_btn {
    	font-family: helvetica;
    	width: 125px;
    	float: left;
    	margin-left: 5px;
    	&:first-child .dd_btn {
    		background: #f1c40f;
    		&:active {
    			background: #f39c12;
    		}
    	}
    	&:nth-child(2) .dd_btn {
    		background: #2ecc71;
    		&:active {
    			background: #27ae60;
    		}
    	}
    	&:nth-child(3) .dd_btn {
    		background: #3498db;
    		&:active {
    			background: #2980b9;
    		}
    	}
    	&:nth-child(4) .dd_btn {
    		background: #e74c3c;
    		&:active {
    			background: #c0392b;
    		}
    	}
    	.dd_btn {
    		height: 50px;
    		width: 125px;
    		color: #fff;
    		font-size: 18px;
    		border: 0px;
    		z-index: 3;
    		float: left;
    		cursor: pointer;
      	background-color:#E19E19;
    		&:active {
      		background-color:#946810;
    		}
    		&:focus {
    			outline: none;
    		}
    	}
    	.dd {
    		position: absolute;
    		width: 255px;
    		margin-top: 55px;
    		background: white;
    		text-align: center;
    		a {
    			width: 100%;
    			display: block;
    			height: 100%;
    			padding: 15px 0 15px 0;
    			text-decoration: none;
    			color: #666;
    			background: #f9f9f9;
    			&:hover {
    				background: #ecf0f1;
    			}
    			&:active {
    				background-color: #bdc3c7;
    				color: #fff;
    			}
    		}
    	}
    }

.cal{ display:inline-block; background:#ffe; color:#555; font-size:6px; text-align:center; transform:scale(1); transition:all 0.2s linear;}
.cal:hover{ transform:scale(2.5);transition:all 0.4s linear;}
.cal caption{ background:#d44; color:#eee; font-size:15px;}
.cal th{ color:#aaa;line-height:200%;}
.cal th:first-child{ color:#f00;}
.cal th:last-child{ color:#04d;}
.cal td{ padding:0 2px; line-height:100%;}
